#  Select how to build the code.  I.e. what platform and CPU to
# build for.
#   S100 bus machines are -DCPMONLY
#   Any machine with RomWbW is -DROMWBW  (i.e. rc2014)
#   I8080 is -DCPU8080 and Z80 is -DCPUZ80

#  Z80 cpu without RomWbW
#CFLAGS  = +cpm -Wall -pragma-include:zpragma.inc -DCPUZ80 -DCPMONLY
#  Z80 cpu with RomWbW
CFLAGS  = +cpm -Wall -pragma-include:zpragma.inc -DCPUZ80 -DROMWBW
#  I8080 cpu without RomWbW
#CFLAGS  = +cpm -Wall -pragma-include:zpragma.inc -DCPU8080 -DCPMONLY

# this configures the build time storage option for system constants
# used by inettools.   Ip addresses, Uptime, Timezone, cnet constants.
#   -DFRAM is, use the FRAM chip on the enet i/o board to store the info.
#   -DDISK is, use the disk drive to store the info.  This is the slowest option.
#   -DNVRAM is used to store info on the NVRAM.  Beware, nvram can be very small
#    and not provide more than 16 bytes.  The sample implementation is on the clock
#    chip.   
# configure the inet storage option
STORE = -DFRAM
#STORE = -DDISK
#STORE = -DNVRAM


